BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Always
ColumnLimit: 130
BreakBeforeBraces: Custom
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
SpaceBeforeParens: ControlStatements
KeepEmptyLinesAtTheStartOfBlocks: false
AlignAfterOpenBracket: AlwaysBreak
BracedInitializerIndentWidth: 2
BraceWrapping:
  AfterFunction: true